stages:
  - install

variables:
  R_VERSION: "4.3.3"

install_linux:
  stage: install
  image: rocker/r-ver:${R_VERSION}
  before_script:
  - apt-get update -qq && apt-get install -y --no-install-recommends
  - apt-get install -y git libcurl4-openssl-dev libssl-dev libxml2-dev libgmp3-dev libmpfr-dev cmake zlib1g-dev
  script:
    - R -e 'install.packages("remotes")'
    - R -e 'remotes::install_gitlab(repo = "etienne.rifa/graphstats", host = "forgemia.inra.fr")'
    - R -e 'devtools::check()'